@font-face {
    font-family: play;
    src: url(./assets/Play-Regular.ttf);
  }
  
body{
    font-family: 'play';
}

#login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('./assets/login.jpg');
    background-size: cover;
}
#register {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('./assets/register.jpg');
    background-size: cover;
}

.active {
    opacity:1; 
}